<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main class="adminpage">
    <h1 class="pageheadline">Detta är admin-sida, visar formulär för att lägga till produkter i datbas</h1>
    
    <form action="/admin/addproduct" method="post" class="add-product-form">
        <fieldset>
            <label for="artist">Artist</label>
            <input type="text" name="artist" value="<%= spotifyResponse.items[0].artists[0].name %>" readonly />
            <label for="album">Album</label>
            <input type="text" name="album" value="<%= spotifyResponse.items[0].name %>" readonly />
            <label for="tracks">Antal låtar</label>
            <input type="text" name="tracks" value="<%= spotifyResponse.items[0].total_tracks %>" readonly />
            <label for="spotifyid">Spotify ID</label>
            <input type="text" name="spotifyId" id="" value="<%= spotifyResponse.items[0].artists[0].id %>" readonly />
            <label for="imgUrl">Bildlänk</label>
            <input type="text" name="imgUrl" value="<%= spotifyResponse.items[0].images[0].url %>" readonly />
            <label for="genre">Genre</label>
            <input type="text" name="genre">
        </fieldset>
        <fieldset>
            <label for="price">Pris</label>
            <input type="number" name="price" />
            <label for="addedBy">Tillagd av</label>
            <input type="text" name="adminName" id="">
        </fieldset>

        <button type="submit">Lägg till i databas</button>

    </form>
</main>
<%- include ("footer.ejs") %>