<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main class="adminpage">
    <h1 class="pageheadline">L채gg till:</h1>

    <form action="<%= ROUTE.adminAddProduct %>" method="post" class="add-product-form">
        <fieldset class="about-album">
            <label for="artist">Artist</label>
            <input type="text" name="artist" value="<%= spotifyResponse.items[0].artists[0].name %>" readonly />
            <label for="album">Album</label>
            <input type="text" name="album" value="<%= spotifyResponse.items[0].name %>" readonly />
            <label for="tracks">Antal l책tar</label>
            <input type="text" name="tracks" value="<%= spotifyResponse.items[0].total_tracks %>" readonly />
            <label for="spotifyid">Spotify ID</label>
            <input type="text" name="spotifyId" id="" value="<%= spotifyResponse.items[0].artists[0].id %>" readonly />
            <label for="imgUrl">Bildl채nk</label>
            <input type="text" name="imgUrl" value="<%= spotifyResponse.items[0].images[0].url %>" readonly />
            <div>
                <% for (const genre of genres) { %>
                <label for="genre<%= genre %>"><%= genre %></label>
                <input type="checkbox" name="genre<%= genre %>">
                <% } %>
            </div>
        </fieldset>
        <fieldset>
            <label for="price">Pris</label>
            <input type="number" name="price" />
            <label for="addedBy">Tillagd av</label>
            <input type="text" name="adminName" value="<%= userInfo.email %>">
            <label for="adminId">Admin ID: </label>
            <input type="text" name="adminId" value="<%= userInfo._id %>">
            <div class="submit-form">
                <button type="submit">L채gg till i databas</button>
            </div>
        </fieldset>
    </form>
</main>
<%- include ("footer.ejs") %>