<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="logoutbutton">
        <a href="<%= ROUTE.logout %>">Logga ut</a>
    </div>

    <h1>Sök artist och album</h1>
    <form action="<%= ROUTE.admin %>" method="POST" class="search-album-form">
        <div>
            <label for="artistname">Artist</label>
            <input type="text" name="artist" />
        </div>
        <div>
            <label for="albumName">Album</label>
            <input type="text" name="album" />
        </div>
        <div>
            <button type="submit">Sök album</button>
        </div>
    </form>
    <div class="productlist-container">
        <h2>Produkter på lager</h2>
        <% productList.forEach( (item)=> { %>
        <div class="product-container">
            <div class="album-img"><a href="<%= item.imgUrl %>"><img src="<%= item.imgUrl %>" alt=""></a></div>
            <div><b>Artist: </b><%= item.artist %></div>
            <div><b>Album: </b><%= item.album %></div>
            <div><b>Antal låtar: </b><%= item.tracks %></div>
            <div><b>Spotify ID: </b><%= item.spotifyId %></div>
            <div><b>Genre: </b><%= item.genre %></div>
            <div><b>Pris: </b><%= item.price %></div>
            <div><b>Tillagd av: </b><%= item.addedBy %></div>
        </div>
        <% }); %>
    </div>
</main>
<%- include ("footer.ejs") %>