<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <% showUserInfo.forEach( (obj)=> { %>
    <div class="shoppingcart-container">
        <div class="product-img">bild</div>
        <h4><%= obj._id %></h4>
        <span>Pris:</span>
        <div class="changecart">
            <p>+</p>
            <p>-</p>
        </div>
    </div>
    <% }); %>
    <div class="checkout-payment-container">
        <form action="<% ROUTE.checkout %>">
            <h2>Betalning</h2>
            <div class="checkout-user-container">
                <input type="radio" checked>
                <input type="number" placeholder="Kortnummer">
            </div>
            <h2>Leverans</h2>
            <div class="checkout-user-container">
                <h3>Förnamn</h3>
                <input type="text" value="<%=showUserInfo.firstName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <h3>Efternamn</h3>
                <input type="text" value="<%=showUserInfo.lastName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <h3>Adress</h3>
                <input type="text" value="<%=showUserInfo.address%>" size=30>
            </div>
            <div class="checkout-postal">
                <div class="postal-city">
                    <h3>Stad</h3>
                    <input type="text" value="<%=showUserInfo.email%>">
                </div>
                <div class="postal-code">
                    <h3>Postnummer</h3>
                    <input type="text">
                </div>
            </div>
            <button type="submit">Beställ</button>
        </form>
    </div>

</main>
<%- include ("footer.ejs") %>