<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <div class="shoppingcart-container">
        <div class="wishlist-shoppingcart-continer">
            <% showUserInfo.wishlist.forEach( (obj)=> { %>
            <div class="wishlist-shoppingcart-innercontiner">
                <div class="product-img"> </div>
                <div class="wishlist-shoppingcart-info">
                    <div class="wishlist-shoppingcart-item ">Album: <%= obj.productId.album %> </div>
                    <div class="wishlist-shoppingcart-item ">Artist: <%= obj.productId.artist %> </div>
                    <div class="wishlist-shoppingcart-item ">Album ID: <%= obj.productId._id %> </div>
                    <div class="wishlist-shoppingcart-item ">Pris: <%= obj.productId.price %> SEK</div>
                </div>
            </div>
            <% }); %>

        </div>
    </div>
    <div class="checkout-payment-container">
        <form action="<%= ROUTE.checkout %>" method="POST">
            <h2>Betalning</h2>
            <div class="checkout-user-container">
                <input type="number" placeholder="Kortnummer">
            </div>
            <h2>Leverans</h2>
            <div class="checkout-user-container">
                <label>Förnamn</label>
                <input type="text" name="fName" value="<%=showUserInfo.firstName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <label>Efternamn</label>
                <input type="text" name="lName" value="<%=showUserInfo.lastName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <label>Adress</label>
                <input type="text" name="address" value="<%=showUserInfo.address%>" size=30>
            </div>
            <div class="checkout-postal">
                <div class="postal-city">
                    <label>Stad</label>
                    <input type="text" name="city">
                </div>
                <div class="postal-code">
                    <label>Postnummer</label>
                    <input type="text">
                </div>
                <div>
                    <label>E-mail</label>
                    <input type="email" name="email" value="<%=showUserInfo.email%>">
                </div>
            </div>
            <div class="checkout-button">
                <button type="submit">BESTÄLL</button>
            </div>
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>