<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <div class="shoppingcart-container"></div>
    <ul>

        <% showUserInfo.wishlist.forEach( (obj)=> { %>
        <li>
            <div>Album: <%= obj.productId.album %> </div>
            <div>Artist: <%= obj.productId.artist %> </div>
            <div>Album ID: <%= obj.productId._id %> </div>
            <span>Pris: <%= obj.productId.price %> SEK</span>
            <% }); %>
    </ul>
    </div>

    <div class="checkout-payment-container">
        <form action="<%= ROUTE.checkout %>" method="POST">
            <h2>Betalning</h2>
            <div class="checkout-user-container">
                <input type="radio" checked>
                <input type="number" placeholder="Kortnummer">
            </div>
            <h2>Leverans</h2>
            <div class="checkout-user-container">
                <h3>Förnamn</h3>
                <input type="text" name="fName" value="<%=showUserInfo.firstName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <h3>Efternamn</h3>
                <input type="text" name="lName" value="<%=showUserInfo.lastName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <h3>Adress</h3>
                <input type="text" name="address" value="<%=showUserInfo.address%>" size=30>
            </div>
            <div class="checkout-postal">
                <div class="postal-city">
                    <h3>Stad</h3>
                    <input type="text" name="city">
                </div>
                <div class="postal-code">
                    <h3>Postnummer</h3>
                    <input type="text">
                </div>
                <div class="">
                    <h3>E-mail</h3>
                    <input type="email" name="email" value="<%=showUserInfo.email%>">
                </div>
            </div>
            <button type="submit">Beställ</button>
        </form>
    </div>

</main>
<%- include ("footer.ejs") %>