<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <form action="<%= ROUTE.checkout %>" method="POST">
        <div class="shoppingcart-container">
            <div class="wishlist-shoppingcart-continer"> 
                <% if(showUserInfo.shoppingcart == 0) { %> 
                    <div class="wishlist-shoppingcart-innercontiner">
                        <div class="wishlist-shoppingcart-info">
                            <div class="wishlist-shoppingcart-item ">Empty cart :(</div>
                        </div>
                    </div>                    
                <% } else { %> 
                    <% showUserInfo.shoppingcart.forEach((obj)=> { %>
                    <div class="wishlist-shoppingcart-innercontiner">
                        <div class="wishlist-shoppingcart-info">
                            <div class="wishlist-shoppingcart-item ">Album: <%= obj.productId.album %> </div>
                            <div class="wishlist-shoppingcart-item ">Artist: <%= obj.productId.artist %> </div>
                            <div class="wishlist-shoppingcart-item ">Album ID: <%= obj.productId._id %> </div>
                            <div class="wishlist-shoppingcart-item ">Pris: <%= obj.productId.price %> SEK</div>
                            <div>
                                <a href="/removefromcart/<%=obj.productId._id%>">
                                <button type="button">TA BORT</button></a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                <% } %> 
            </div>
        </div>
        <div class="startbuttons">
            <button type="submit">BESTÄLL</button>
        </div>
    </form>
</main>

<%- include ("footer.ejs") %>