<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Tack för din beställning!</h1>
    </div>
    <div class="userinfo">
        <span>Dina varor kommer att levereras till:</span>
        <span><%= showUserInfo.firstName+" "+showUserInfo.lastName %></span>
        <span><%= showUserInfo.address %></span>
    </div>
    <form class="startbuttons" method="get">
        <button type="submit" formaction="/">STARTSIDA</button>
        <button type="submit" formaction="/logout">LOGGA UT</button>
    </form>
</main>
<%- include ("footer.ejs") %>