<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h3>Tack <%= showUserInfo.firstName %> för din beställning!</h3>
        <h5>Lämna inte sidan! Du skickas vidare till betalning...</h5>
    </div>
</main>
<script src="https://js.stripe.com/v3/"></script>
<script>

    var stripe = Stripe('pk_test_5MTNw7RfN0HdEq9ObVGQ1xWV00JXhKiZPx');  
    setTimeout(stripePayment, 3000); 

    function stripePayment() {
        stripe.redirectToCheckout({
            sessionId: '<%=sessionId%>'
        })
    }
    
</script>
<%- include ("footer.ejs") %>