<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div> Här visas flera produkter ur en kategori? loopar igenom produkter i db och presenterar utvalda objekt.</div>
    <ul>
        <% showProduct.forEach((product)=>{ %>
        <li>
            <div><%= product.artist %></div>
            <div><%= product.vinylRecord %></div>
            <div><%= product.description %></div>
            <div><%= product.vinylRecordPrice %></div>
            <div class="product-image-container"><img src="<%= product.imgUrl %>"></div>
        </li>
        <% }) %>
    </ul>
</main>
<%- include ("footer.ejs") %>