<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div> Här visas flera produkter ur en kategori? loopar igenom produkter i db och presenterar utvalda objekt.</div>
    <ul>
        <% vinylRecordProduct.forEach(vinylRecord)=>r{ %>
        <li>
            <div><%= vinylRecord.artist %></div>
            <div><%= vinylRecord.vinylRecord %></div>
            <div><%= vinylRecord.description %></div>
            <div><%= vinylRecord.vinylRecordPrice %></div>
            <div class="product-image-container"><img src="<%= vinylRecord.imgUrl %>"></div>
        </li>
        <%}) %>
    </ul>
</main>
<%- include ("footer.ejs") %>