<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <p class="small-text">Här visas flera produkter ur en kategori? loopar igenom produkter i db och presenterar utvalda objekt.</p>
    <ul class="product-list">
        <% showProduct.forEach((product)=>{ %>
            <li class="product-display">
                <div class="product-info-container">
                    <div><%= product.artist %></div>
                    <div><%= product.vinylRecord %></div>
                    <div><%= product.description %></div>
                    <div><%= product.vinylRecordPrice %></div>
                    <button>KÖP</button>
                </div>
                <div class="product-image-container"><img src="<%= product.imgUrl %>"></div>
            </li>
        <% }) %>
    </ul>
</main>
<%- include ("footer.ejs") %>