<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>

    <div class="pageheadline">
        <h1>Hey, let's get some music!</h1>
    </div>

    <div class="newscontainers" style="flex-wrap: wrap">
        <% for (const display of displayList) { %>
        <div class="news">
            <a href="<%= productListRoute %>?genre=<%= display.genre %>&page=1">
                <div class="placeholder">
                    <img src="<%= display.img.imgUrl %>" style="width: 100%" alt="<%= display.genre %>" />
                </div>
            </a>
            <h3><%= display.genre %></h3>
        </div>
        <% } %>
    </div>
    <form class="startbuttons" method="get">
        <button type="submit" formaction="gallery">WEBSHOP</button>
        <% if (token) { %>
            <button type="submit" formaction="useraccount">MIN PROFIL</button> 
        <% } else { %> 
            <button type="submit" formaction="login">LOGGA IN</button> 
        <% }%>
        <button type="submit" formaction="createuser">BLI MEDLEM</button>
    </form>

</main>
<%- include ("footer.ejs") %>