<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>

    <div class="pageheadline">
        <h1>Hey, let's get some music!</h1>
    </div>

    <div class="newscontainers">
        <div class="news">
            <!-- rendera dynamisk bild? -->
            <div class="placeholder">
                <img src="/placeholder_images/lizzo.jpg" alt="artist" />
            </div>
            <h3>Nyheter</h3>
        </div>
        <div class="news">
            <!-- rendera dynamisk bild? -->
            <div class="placeholder">
                <img src="/placeholder_images/lizzo.jpg" alt="artist" />
            </div>
            <h3>Topp 5</h3>
        </div>
    </div>
    <div class="newscontainers" style="flex-wrap: wrap">
        <% for (const image of imageList) { %>
            <div class="news">
                <a href="<%= productListRoute %>?page=1&genre=<%= image.genre[0] %>">
                    <div class="placeholder">
                            <img src="<%= image.imgUrl %>" style="width: 100%" alt="<%= image.genre[0] %>" />
                    </div>
                </a>      
                <h3><%= image.genre[0] %></h3>
            </div> 
        <% } %>
    </div>
    
    <form class="startbuttons" method="get">
        <button type="submit" formaction="gallery">Webbshop</button>
        <button type="submit" formaction="login">Logga in</button>
    </form>

</main>
<%- include ("footer.ejs") %>