<div class="pagination">
    <% if (productList.length >= 1) { %>
    <div>
        <% if (isFirst || isSecond) { %>
            <span>
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i>
            </span>
        <% } %>
        <% if (!isFirst && !isSecond) { %>
            <a href="<%= ROUTE.gallery %>?genre=<%= genre %>&page=<%= 1 %>">&lt;&lt;</a>
        <% } %>
        <% if (!isFirst) { %>
            <a href="<%= ROUTE.gallery %>?genre=<%= genre %>&page=<%= previousPage %>">&lt;</a>
        <% } %>
        <a href="<%= ROUTE.gallery %>?genre=<%= genre %>&page=<%= currentPage %>"><%= currentPage %>/<%= lastPage %></a>
        <% if (!isLast) { %>
            <a href="<%= ROUTE.gallery %>?genre=<%= genre %>&page=<%= nextPage %>">&gt;</a>
        <% } %>
        <% if (!isLast && !isSecondLast) { %>
            <a href="<%= ROUTE.gallery %>?genre=<%= genre %>&page=<%= lastPage %>">&gt;&gt;</a>
        <% } %>
    </div>
    <% } %>
</div>