<div>
    <% if (productList.length >= 1) { %>
    <div class="pagination">
        <% if (!isFirst && !isSecond) { %>
            <a href="<%= productListRoute %>?page=<%= 1 %>&genre=<%= genre %>">&lt;&lt;</a>
        <% } %>
        <% if (!isFirst) { %>
            <a href="<%= productListRoute %>?page=<%= previousPage %>&genre=<%= genre %>">&lt;</a>
        <% } %>
        <a href="<%= productListRoute %>?page=<%= currentPage %>&genre=<%= genre %>"><%= currentPage %>/<%= lastPage %></a>
        <% if (!isLast) { %>
            <a href="<%= productListRoute %>?page=<%= nextPage %>&genre=<%= genre %>">&gt;</a>
        <% } %>
        <% if (!isLast && !isSecondLast) { %>
            <a href="<%= productListRoute %>?page=<%= lastPage %>&genre=<%= genre %>">&gt;&gt;</a>
        <% } %>
    </div>
    <% } %>
</div>