<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="product-container">
        <h1><%= oneProduct.album %></h1>

        <div class="oneproduct-image-container"><img src="<%= oneProduct.imgUrl %>" id="one-product-image"></div>
        <div class="oneproduct-info-container">
            <div class="product-info-left">
                <div><%= oneProduct.artist %></div>
                <div><%= oneProduct.album %></div>
                <div class="product-price-container">
                    <span class="product-price"><%= oneProduct.price %></span>
                    <span class="product-currency">SEK</span>
                </div>
            </div>
            <div>
                <a href="/wishlist/<%=product._id%>"><button id="add-to-cart-button">KÖP</button></a>
            </div>
        </div>
        <div class="line"></div>
    </div>
</main>
<%- include ("footer.ejs") %>