<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div>
        Här visas användarens uppgifter som finns lagrat i DB
        <h1>Mina uppgifter</h1>

        <%= showUserInfo.firstName %>
        <%= showUserInfo.lastName %>
        <%= showUserInfo.email %>
        <%= showUserInfo.password %>
        <%= showUserInfo.address %>

    </div>
</main>
<%- include ("footer.ejs") %>