<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <% if (passwordChanged.exists && passwordChanged.value) { %>
        <h1>Lösenordet är ändrat</h1>
        <% } else if (passwordChanged.exists && !passwordChanged.value) { %>
        <h1>Fel lösenord</h1>
        <% } else { %>
        <h1>Hej <i><%= loggedIn.firstName %> </i> </h1>
        <% } %>
    </div>
    <div class="userinfo">
        <h3>Användare: </h3>
        <span><%= loggedIn.firstName %> <%= loggedIn.lastName %></span>
        <span><%= loggedIn.address %></span>
        <span><%= loggedIn.email %></span>
    </div>
    <div class="orderinfo">
        <h3>Min önskelista: </h3>
        <div class="wishlist-continer">

            <% user.wishlist.forEach( (obj)=> { %>
            <div class="wishlist-innercontiner">
                <div class="wishlist-item">Album: <%= obj.album %> </div>
                <div class="wishlist-item">Artist: <%= obj.artist %> </div>
                <div class="wishlist-item">Pris: <%= obj.price %> SEK</div>
                <div class="wishlist-item">Album ID: <%= obj.productId %> </div>

            </div>
            <% }); %>
        </div>
    </div>
    <form class="startbuttons" method="get">
        <button type="submit" formaction="gallery">GÅ TILL WEBBSHOP</button>
        <button type="submit" formaction="checkout">GÅ TILL CHECKOUT</button>
        <button type="submit" formaction="logout">LOGGA UT</button>
    </form>

    <div class="change-password">
        <form action="<%= ROUTE.userAccount %>" method="POST" class="passwordinfo">
            <h3>Ändra lösenord:</h3>
            <label for="currentpassword">Nuvarande lösenord:</label>
            <input type="password" name="currentpassword" />
            <label for="newpassword">Nytt lösenord:</label>
            <input type="password" name="newpassword" />
            <button type="submit">Ändra lösenord</button>
        </form>
    </div>


</main>
<%- include ("footer.ejs") %>